/*place global styles here */
html,
body {
	@apply h-full;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Myfont';
	src: url('/fonts/Myfont-Regular.ttf');
}